// USER VARIABLES SECTION
$fontsize: 12px; // Body Font Size
$textcolor: #1e1e1e; // Text Color
$lineheight: 16px; // Document Line Height
$userfont: Montserrat, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// Colors
$gradient_r: linear-gradient(
  277.28deg,
  #812990 22.88%,
  #ed1846 60.52%,
  #fbb306 98.17%
);
$gradient_blue: linear-gradient(180deg, #23bbd3 0%, #239fb3 100%);
$gradient_blue--hover: linear-gradient(180deg, #23a5ba 0%, #137484 100%);

$blue: #239fb3;
$disabled: #93a2bb;
$red: #ed1846;
$gray_bg: #eff2f8;

// Breakpoints
$tablet: 1199px;
$mobile: 767px;
$mobile-sm: 374px;

// FONTS LOAD SECTION
@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: local($fname), url($furl) format("woff2");
    font-display: swap;
  }
}

@include font("Montserrat", normal, 300, "../fonts/Montserrat-Light.woff2");
@include font("Montserrat", normal, 400, "../fonts/Montserrat-Regular.woff2");
@include font("Montserrat", normal, 500, "../fonts/Montserrat-Medium.woff2");
@include font("Montserrat", normal, 600, "../fonts/Montserrat-Bold.woff2");
@include font("Montserrat", normal, 700, "../fonts/Montserrat-ExtraBold.woff2");

@include font(
  "Montserrat Alternates",
  normal,
  600,
  "../fonts/MontserratAlternates-Bold.woff2"
);
