@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat Alternates"), url("../fonts/MontserratAlternates-Bold.woff2") format("woff2");
  font-display: swap;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  color: #1e1e1e;
  background: #eff2f8;
}

.container {
  max-width: 1235px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.noscroll {
  overflow-y: hidden;
}

.no-xl {
  display: none;
}

.logo {
  display: inline-block;
  text-decoration: none;
}

.logo__img {
  display: block;
}

.phone__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.phone__link {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-left: 26px;
  text-decoration: none;
  color: #1e1e1e;
}

.phone__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 272px;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#23bbd3), to(#239fb3));
  background: -o-linear-gradient(top, #23bbd3 0%, #239fb3 100%);
  background: linear-gradient(180deg, #23bbd3 0%, #239fb3 100%);
  border-radius: 10px;
  color: #ffffff;
  border: none;
}

.btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#23a5ba), to(#137484));
  background: -o-linear-gradient(top, #23a5ba 0%, #137484 100%);
  background: linear-gradient(180deg, #23a5ba 0%, #137484 100%);
  border-radius: 10px;
}

.btn:hover::before {
  opacity: 1;
}

.btn:disabled {
  cursor: auto;
  pointer-events: none;
}

.btn:disabled::before {
  opacity: 1;
  background: #93a2bb;
}

.btn--small {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 170px;
  height: 43px;
  background: transparent;
  color: #1e1e1e;
  border: 1px solid #239fb3;
}

.btn--small::before {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#23bbd3), to(#239fb3));
  background: -o-linear-gradient(top, #23bbd3 0%, #239fb3 100%);
  background: linear-gradient(180deg, #23bbd3 0%, #239fb3 100%);
}

.btn--small:hover {
  color: #fff;
}

.btn--small:hover::before {
  opacity: 1;
}

.btn--small:disabled {
  color: #93a2bb;
  background: transparent;
  border-color: #93a2bb;
}

.btn--small:disabled::before {
  opacity: 0;
}

.btn__text {
  position: relative;
  z-index: 3;
}

.main__content {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#23bbd3), to(#239fb3));
  background: -o-linear-gradient(top, #23bbd3 0%, #239fb3 100%);
  background: linear-gradient(180deg, #23bbd3 0%, #239fb3 100%);
}

.main__content__wrapper {
  position: relative;
  z-index: 3;
}

.main__grain {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url("../../images/dist/grain.png") repeat;
}

.color__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 11px;
}

.color__line__item {
  display: inline-block;
  height: 10px;
  border-radius: 3px;
}

.color__line__item:nth-child(odd) {
  width: 21px;
}

.color__line__item:nth-child(even) {
  width: 41px;
}

.color__line__item--red {
  background: #ed1846;
}

.color__line__item--orange {
  background: #fbb306;
}

.color__line__item--yellow {
  background: #ffcc31;
}

.color__line__item--green {
  background: #45b97c;
}

.color__line__item--sky {
  background: #33a3dc;
}

.color__line__item--blue {
  background: #0066b3;
}

.color__line__item--violet {
  background: #812990;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.connection {
  position: relative;
  bottom: -87px;
}

.connection__inner {
  position: relative;
  z-index: 4;
  padding: 74px 144px 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  border-radius: 10px;
}

.connection__title {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 78px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 21px;
  position: relative;
}

.connection__title__img {
  position: absolute;
  top: -12px;
  right: -77px;
}

.connection__line {
  margin-bottom: 22px;
}

.connection__line.no-xl {
  display: none;
}

.connection__hashtag {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 34px;
  text-transform: uppercase;
}

.connection__description {
  font-size: 14px;
  line-height: 18px;
  max-width: 325px;
  width: 100%;
}

.connection__bg {
  position: absolute;
}

.connection__bg--7 {
  right: 0;
  top: 0px;
  z-index: 5;
}

.connection__bg--8 {
  left: 0;
  top: -29px;
}

.connection__bg--eye {
  left: 0;
  bottom: 178px;
}

.footer {
  padding-top: 153px;
  padding-bottom: 112px;
  background: #eff2f8;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 33px;
}

.footer__nav__item {
  margin-bottom: 15px;
}

.footer__nav__item:last-child {
  margin-bottom: 0;
}

.footer__nav__link {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #1e1e1e;
  border-bottom: 1px solid transparent;
}

.footer__nav__link:hover {
  border-color: #1e1e1e;
}

.footer__item {
  margin-bottom: 40px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__item .phone__link {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-left: 0;
}

.footer__item__title {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 13px;
}

.header {
  position: relative;
  z-index: 4;
  padding: 25px 0;
  background-color: #fff;
}

.header::before {
  position: absolute;
  bottom: -77px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 77px;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(#e7edf7), to(rgba(240, 242, 244, 0)));
  background: -o-linear-gradient(top, #e7edf7 0%, rgba(240, 242, 244, 0) 100%);
  background: linear-gradient(180deg, #e7edf7 0%, rgba(240, 242, 244, 0) 100%);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 110px;
  width: 100%;
}

.intro {
  padding-top: 95px;
  padding-bottom: 126px;
  background: url("../../images/dist/grain.png") repeat;
}

.intro .container {
  position: relative;
}

.intro__inner {
  position: relative;
  z-index: 3;
}

.intro__content {
  position: relative;
  z-index: 3;
}

.intro__suptitle {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.intro__title {
  font-family: Montserrat Alternates;
  font-weight: bold;
  font-size: 120px;
  line-height: 115px;
  position: relative;
  margin-bottom: 36px;
  max-width: 777px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.intro__title span {
  background: -o-linear-gradient(172.72deg, #812990 22.88%, #ed1846 60.52%, #fbb306 98.17%);
  background: linear-gradient(277.28deg, #812990 22.88%, #ed1846 60.52%, #fbb306 98.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro__title__img {
  position: absolute;
  top: -25px;
  right: -284px;
  z-index: 2;
}

.intro__description {
  font-size: 14px;
  line-height: 18px;
  max-width: 389px;
  width: 100%;
  margin-bottom: 23px;
}

.intro__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 56px;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #1e1e1e;
  border: none;
  background: none;
}

.intro__link:hover {
  color: #239fb3;
}

.intro__link:hover .intro__link__icon {
  background: url("../../images/dist/icons/place_icon--hover.svg") no-repeat center;
}

.intro__link:disabled {
  pointer-events: none;
  cursor: auto;
  color: #93a2bb;
}

.intro__link:disabled .intro__link__icon {
  background: url("../../images/dist/icons/place_icon--disabled.svg") no-repeat center;
}

.intro__link__icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 9px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: url("../../images/dist/icons/place_icon.svg") no-repeat center;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.intro__btn {
  margin-right: 51px;
}

.intro__text {
  font-size: 12px;
  line-height: 16px;
  max-width: 225px;
  width: 100%;
}

.intro__bus {
  position: absolute;
  right: -95px;
  bottom: -79px;
  z-index: 2;
}

.intro__ellipse {
  position: absolute;
  top: -310px;
  right: 0;
  width: 764px;
  height: 764px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: none;
  max-width: 610px;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
}

.modal__wrapper {
  position: relative;
  padding: 39px;
  padding-bottom: 48px;
}

.modal__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 28px;
  text-align: center;
}

.modal__suptitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.modal__content {
  text-align: center;
}

.modal__suptitle {
  font-size: 14px;
  line-height: 18px;
}

.modal__strong {
  font-weight: 600;
}

.modal__close {
  line-height: 1;
  position: absolute;
  top: 31px;
  right: 37px;
  z-index: 2;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
}

.modal__close span {
  display: inline-block;
  width: 17px;
  height: 17px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: url("../../images/dist/icons/close.svg") no-repeat center;
}

.modal__close:hover span {
  background: url("../../images/dist/icons/close--hover.svg") no-repeat center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}

.nav__btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #1e1e1e;
  background: none;
  border: none;
}

.nav__btn:hover {
  color: #768197;
}

.nav__btn:disabled {
  cursor: auto;
  color: #93a2bb;
}

.nav-toggle {
  display: none;
  line-height: 1;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  position: relative;
  height: 20px;
  cursor: pointer;
  z-index: 1;
  background: none;
  border: none;
  padding: 0;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle__item,
.nav-toggle__item::before,
.nav-toggle__item::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  min-height: 3px;
  max-height: 3px;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  background-color: #1e1e1e;
}

.nav-toggle__item::before {
  content: "";
  top: -15px;
}

.nav-toggle__item::after {
  content: "";
  top: 15px;
}

.nav-toggle.active .nav-toggle__item {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-toggle.active .nav-toggle__item:before {
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.nav-toggle.active .nav-toggle__item:after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.poll {
  max-width: 439px;
  width: 100%;
}

.poll__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 22px;
}

.poll__item {
  position: relative;
  width: 100%;
}

.poll__item__input {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  height: 65px;
  width: 100%;
  padding: 0 24px;
  color: #1e1e1e;
  background: #ffffff;
  border: 1px solid #239fb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.poll__item__input::-webkit-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #768197;
}

.poll__item__input::-moz-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #768197;
}

.poll__item__input:-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #768197;
}

.poll__item__input::-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #768197;
}

.poll__item__input::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #768197;
}

.poll__item__input::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url("../../images/dist/icons/akar-icons_calendar.svg") no-repeat center;
  background-size: contain;
}

.poll__item__input--calendar {
  padding-right: 15px;
  min-width: 100%;
  -webkit-appearance: none;
}

.poll__item__input--number {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.poll__item__input--number::-webkit-outer-spin-button,
.poll__item__input--number::-webkit-inner-spin-button {
  display: none;
}

.poll__item__icon {
  position: absolute;
  top: 50%;
  right: 17.5px;
  z-index: 2;
  display: none;
  width: 22px;
  height: 22px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../../images/dist/icons/akar-icons_calendar.svg") no-repeat center;
}

.poll__item__label {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  left: 24px;
  top: -6px;
  z-index: 2;
  display: inline-block;
  padding: 0 4px;
  color: #239fb3;
  background: #fff;
}

.poll__line {
  margin-bottom: 15px;
}

.poll__line:last-child {
  margin-bottom: 0;
}

.poll__line--code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.poll__line--code .poll__item {
  width: 212px;
  margin-right: 13px;
}

.poll__hint {
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: none;
  border: none;
}

.poll__hint:hover {
  opacity: 0.8;
}

.poll__select {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  border: 1px solid #239fb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.poll__select--show {
  border-radius: 4px 4px 0 0;
  border-bottom: transparent;
}

.poll__select--show .poll__select__arrow {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.poll__select--show .poll__select__list {
  display: block;
}

.poll__select__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65px;
  padding: 0 24px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.poll__select__list {
  position: absolute;
  top: 65px;
  left: 50%;
  z-index: 4;
  display: none;
  width: calc(100% + 2px);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #239fb3;
  border-radius: 0 0 4px 4px;
  background: #fff;
}

.poll__select__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 24px;
  height: 65px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  border-bottom: 1px solid #239fb3;
}

.poll__select__item:last-child {
  border-bottom: 0;
}

.poll__select__item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.poll__select__arrow {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.poll__number__btn {
  line-height: 1;
  position: absolute;
  right: 20px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: none;
  border: none;
}

.poll__number__btn:hover {
  opacity: 0.8;
}

.poll__number__btn span {
  display: inline-block;
  width: 14px;
  height: 8px;
  background: url("../../images/dist/icons/arrow.svg") no-repeat center;
}

.poll__number__plus {
  top: 19px;
}

.poll__number__minus {
  bottom: 15px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.poll__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.poll__checkbox + .poll__checkbox__label {
  font-size: 10px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #000000;
}

.poll__checkbox + .poll__checkbox__label::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid #239fb3;
  border-radius: 3px;
  margin-right: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.poll__checkbox:checked + .poll__checkbox__label::before {
  background-image: url("../../images/dist/icons/good.svg");
}

.poll__link {
  font-weight: 600;
  display: inline;
  text-decoration: none;
  color: #239fb3;
}

.poll__link:hover {
  text-decoration: underline;
}

.poll__submit {
  width: 100%;
}

.routes {
  position: relative;
  padding-top: 104px;
  padding-bottom: 50px;
}

.routes .container {
  position: relative;
  z-index: 4;
}

.routes__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 58px;
  text-align: center;
  color: #fff;
}

.routes__list {
  margin-bottom: 50px;
}

.routes__item {
  position: relative;
  margin-bottom: 74px;
}

.routes__item:last-child {
  margin-bottom: 0;
}

.routes__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.routes__wrapper--map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
}

.routes__wrapper--map .routes__content__wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.routes__wrapper--map .routes__item__title {
  margin-bottom: 30px;
}

.routes__wrapper--map .routes__text__list {
  max-width: 442px;
  margin-bottom: 15px;
}

.routes__wrapper--map .routes__text {
  margin-bottom: 15px;
}

.routes__wrapper--map .routes__text:last-child {
  margin-bottom: 0;
}

.routes__wrapper--active {
  visibility: visible;
  opacity: 1;
}

.routes__img {
  display: block;
  max-height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.routes__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 640px;
  width: 100%;
  padding: 40px 66px 55px 70px;
  background: #ffffff;
  border-radius: 0px 10px 10px 0px;
}

.routes__content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

.routes__item__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}

.routes__text__list {
  margin-bottom: 30px;
  width: 100%;
  max-width: 497px;
}

.routes__text {
  margin-bottom: 8px;
}

.routes__text:last-child {
  margin-bottom: 0;
}

.routes__text__title {
  font-weight: 600;
  display: block;
}

.routes__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.routes__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.routes__places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.routes__places__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.routes__places__icon {
  margin-right: 8px;
}

.routes__places__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.routes__places__dost {
  margin: 1.5px 0;
  margin-left: 4px;
}

.routes__map {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: none;
  background: none;
  color: #239fb3;
}

.routes__map:hover {
  color: #157b8b;
}

.routes__map:disabled {
  pointer-events: none;
  cursor: auto;
  color: #93a2bb;
}

.routes__btn {
  z-index: 3;
}

.routes__close {
  line-height: 1;
  position: absolute;
  top: 48px;
  right: 46px;
  z-index: 2;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
}

.routes__close span {
  display: inline-block;
  width: 17px;
  height: 17px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: url("../../images/dist/icons/close.svg") no-repeat center;
}

.routes__close:hover span {
  background: url("../../images/dist/icons/close--hover.svg") no-repeat center;
}

.routes__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 40px;
}

.routes__description__text {
  font-size: 12px;
  line-height: 16px;
  max-width: 600px;
  width: 100%;
  color: #fff;
}

.routes__description__link {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

.routes__description__link:hover {
  text-decoration: underline;
}

.routes__bg {
  position: absolute;
  z-index: 3;
}

.routes__bg--1 {
  top: 392px;
  right: 0;
  z-index: 5;
}

.routes__bg--2 {
  top: 549px;
  left: 0;
}

.routes__bg--3 {
  top: 1166px;
  right: 0;
}

.routes__bg--4 {
  bottom: -199px;
  left: 0;
}

.routes__bg--eye {
  top: 536px;
  left: 65px;
}

.schedule {
  position: relative;
  margin-bottom: -43px;
}

.schedule__inner {
  position: relative;
  z-index: 4;
  padding: 74px 144px 121px;
  background: #fff;
  border-radius: 10px;
}

.schedule__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 33px;
}

.schedule__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-bottom: 55px;
}

.schedule__btn {
  font-size: 12px;
  line-height: 16px;
  width: 136px;
  height: 34px;
  border-radius: 24.2855px;
  color: #000000;
}

.schedule__btn::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
  background: #eff2f8;
  border-radius: 24.2855px;
}

.schedule__btn:hover,
.schedule__btn--active {
  color: #fff;
}

.schedule__btn:hover::before,
.schedule__btn--active::before {
  opacity: 0;
}

.schedule__content {
  display: none;
}

.schedule__content--active {
  display: block;
}

.schedule__ad {
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

.schedule__ad__left {
  font-weight: 600;
  margin-right: 89px;
  padding-left: 40px;
}

.schedule__table__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 40px;
  padding-left: 27px;
  background: #812990;
  border-radius: 4px 4px 0px 0px;
  color: #fff;
}

.schedule__table__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 39px;
  background: #eff2f8;
}

.schedule__table__line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7.6% 36.5% 19.4% 36.5%;
  grid-template-columns: 7.6% 36.5% 19.4% 36.5%;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  width: 100%;
}

.schedule__table__line--info .schedule__table__item {
  font-size: 12px;
  line-height: 1;
}

.schedule__table__item--center {
  text-align: center;
}

.schedule__table__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 77px;
  border-bottom: 1px solid #ededef;
}

.schedule__table__wrapper:last-child {
  border-bottom: none;
}

.schedule__table__wrapper .schedule__table__line {
  -ms-grid-columns: 7.6% 36.5% 19.4% 18.25% 18.25%;
  grid-template-columns: 7.6% 36.5% 19.4% 18.25% 18.25%;
}

.schedule__table__wrapper .schedule__table__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.schedule__table__inner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.schedule__bg {
  position: absolute;
}

.schedule__bg--5 {
  bottom: 288px;
  left: 0;
  z-index: 5;
}

.schedule__bg--6 {
  top: 175px;
  right: 0;
}

.schedule__bg--eye {
  top: 233px;
  right: 44px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social__item {
  display: inline-block;
  margin-right: 14px;
  text-decoration: none;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.social__item:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.social__item:last-child {
  margin-right: 0;
}

.social__icon {
  width: 34px;
  height: 34px;
  min-width: 34px;
  min-height: 34px;
}

@media (max-width: 1440px) {
  .connection__bg--7 {
    z-index: 3;
  }

  .routes__bg--1 {
    z-index: 3;
  }

  .schedule__bg--5 {
    z-index: 3;
  }
}

@media (max-width: 1199px) {
  .no-md {
    display: none;
  }

  .md {
    display: inline-block;
  }

  .phone__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .phone__text {
    margin-bottom: 3vh;
  }

  .phone__link {
    font-size: 22px;
    margin-left: 0;
  }

  .connection {
    bottom: 0;
    padding-bottom: 44px;
  }

  .connection__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 70px 50px;
  }

  .connection__content {
    display: none;
  }

  .connection__bg {
    max-width: 40%;
  }

  .connection__bg--7 {
    z-index: 3;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer_col {
    width: 50%;
    margin-bottom: 40px;
  }

  .footer_col:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .footer_col:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer_col--reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer_col--reverse .footer__item:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .header__wrapper {
    position: absolute;
    top: 79px;
    left: 0;
    z-index: 7;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: calc(100vh - 79px);
    padding-left: 0;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    background: #fff;
  }

  .header__wrapper--active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .intro__title__img {
    display: none;
  }

  .intro__bus {
    display: none;
  }

  .nav {
    margin-bottom: 10vh;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }

  .nav__item {
    margin-bottom: 7vh;
  }

  .nav__item:last-child {
    margin-bottom: 0;
  }

  .nav-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .poll {
    max-width: 600px;
  }

  .routes__item {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }

  .routes__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .routes__img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .routes__content {
    padding: 40px;
    height: 100%;
    border-radius: 0 0 10px 10px;
  }

  .routes__btn {
    width: 250px;
  }

  .routes__description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
    text-align: center;
  }

  .routes__bg {
    max-width: 40%;
  }

  .routes__bg--1 {
    z-index: 3;
  }

  .schedule {
    margin-bottom: 44px;
  }

  .schedule__inner {
    padding: 70px 50px;
  }

  .schedule__ad {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .schedule__ad__left {
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 7px;
  }

  .schedule__table__wrapper .schedule__table__item {
    font-size: 15px;
  }

  .schedule__bg {
    max-width: 40%;
  }

  .schedule__bg--5 {
    z-index: 3;
  }

  .schedule__table__btn {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .no-xs {
    display: none;
  }

  .xs {
    display: inline-block;
  }

  .btn {
    height: 50px;
  }

  .onescreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
  }

  .connection__inner {
    padding: 30px 15px;
  }

  .connection__line {
    margin-bottom: 35px;
  }

  .connection__line.xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer_col {
    margin-bottom: 30px;
    width: 100%;
  }

  .footer_col:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer_col:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .footer_col:last-child {
    margin-bottom: 0;
  }

  .footer_col--reverse .footer__item:first-child {
    margin-top: 30px;
  }

  .header::before {
    display: none;
  }

  .intro {
    padding: 50px 0;
  }

  .intro__suptitle {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .intro__title {
    font-size: 48px;
    line-height: 1.2;
    max-width: 310px;
  }

  .intro__text {
    display: none;
  }

  .intro__link {
    margin-bottom: 35px;
  }

  .intro__ellipse {
    display: none;
  }

  .intro__btn {
    margin-right: 0;
    width: 100%;
  }

  .modal {
    max-width: 90%;
  }

  .modal__wrapper {
    padding: 25px 15px;
  }

  .modal__title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .modal__close {
    top: 15px;
    right: 15px;
  }

  .poll__title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
  }

  .poll__line .col-12 {
    margin-bottom: 15px;
  }

  .poll__line .col-12:last-child {
    margin-bottom: 0;
  }

  .poll__select {
    font-size: 14px;
  }

  .poll__item__icon {
    display: inline-block;
  }

  .routes {
    padding: 50px 0;
  }

  .routes__title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  .routes__item {
    margin-bottom: 40px;
  }

  .routes__wrapper--map .routes__item__title {
    margin-bottom: 20px;
  }

  .routes__wrapper--map .routes__text {
    margin-bottom: 7px;
  }

  .routes__content {
    padding: 30px 25px;
    min-height: 470px;
  }

  .routes__item__title {
    font-size: 18px;
    line-height: 1.2;
  }

  .routes__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .routes__info {
    margin-bottom: 35px;
  }

  .routes__places {
    margin-bottom: 10px;
  }

  .routes__btn {
    width: 100%;
  }

  .routes__text__list {
    margin-bottom: 20px;
  }

  .routes__text__more {
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    color: #239fb3;
  }

  .routes__close {
    top: 20px;
    right: 26px;
  }

  .schedule__inner {
    padding: 30px 15px;
  }

  .schedule__title {
    font-size: 24px;
    line-height: 1.2;
  }

  .schedule__btns {
    margin-bottom: 40px;
  }

  .schedule__btns .slick-arrow {
    font-size: 0;
    line-height: 1;
    padding: 0;
    width: 14px !important;
    min-width: 14px;
    height: 8px;
    border: none;
    background: none;
    color: transparent;
    background: url("../../images/dist/icons/arrow.svg") no-repeat center;
  }

  .schedule__btns .slick-prev {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .schedule__btns .slick-arrow.slick-next {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .schedule__table {
    margin-bottom: 30px;
  }

  .schedule__table:last-child {
    margin-bottom: 0;
  }

  .schedule__table--active .schedule__table__title {
    border-radius: 4px 4px 0 0;
  }

  .schedule__table--active .schedule__table__title__btn {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }

  .schedule__table--active .schedule__table__body {
    display: block;
  }

  .schedule__table__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
    border-radius: 4px;
  }

  .schedule__table__title__btn {
    line-height: 1;
    padding: 0;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    background: none;
    border: none;
  }

  .schedule__table__title__btn span {
    display: inline-block;
    width: 14px;
    height: 8px;
    background: url("../../images/dist/icons/arrow__tab.svg") no-repeat center;
  }

  .schedule__table__info {
    display: none;
  }

  .schedule__table__wrapper {
    height: auto;
    padding: 20px 10px;
  }

  .schedule__table__body {
    display: none;
    border: 1px solid #ededef;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }

  .schedule__table__body .schedule__table__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .schedule__table__body .schedule__table__item {
    margin-bottom: 15px;
  }

  .schedule__table__body .schedule__table__item:last-child {
    margin-bottom: 0;
  }

  .schedule__table__item {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
  }

  .schedule__table__item:first-child {
    display: none;
  }

  .schedule__table__item--title {
    width: 100%;
  }

  .schedule__table__item--time {
    font-weight: 400 !important;
    width: 50%;
  }

  .schedule__table__item__title {
    font-weight: 600;
    display: block;
  }

  .schedule__table__btn {
    height: 40px;
    width: 170px;
  }
}
@supports (-webkit-appearance:none){
.main__grain{background:url("../../images/dist/grain.webp") repeat}
.intro{background:url("../../images/dist/grain.webp") repeat}
.intro__link:hover .intro__link__icon{background:url("../../images/dist/icons/place_icon--hover.svg") no-repeat center}
.intro__link:disabled .intro__link__icon{background:url("../../images/dist/icons/place_icon--disabled.svg") no-repeat center}
.intro__link__icon{background:url("../../images/dist/icons/place_icon.svg") no-repeat center}
.modal__close span{background:url("../../images/dist/icons/close.svg") no-repeat center}
.modal__close:hover span{background:url("../../images/dist/icons/close--hover.svg") no-repeat center}
.poll__item__input::-webkit-calendar-picker-indicator{background:url("../../images/dist/icons/akar-icons_calendar.svg") no-repeat center}
.poll__item__icon{background:url("../../images/dist/icons/akar-icons_calendar.svg") no-repeat center}
.poll__number__btn span{background:url("../../images/dist/icons/arrow.svg") no-repeat center}
.poll__checkbox:checked + .poll__checkbox__label::before{background-image:url("../../images/dist/icons/good.svg")}
.routes__close span{background:url("../../images/dist/icons/close.svg") no-repeat center}
.routes__close:hover span{background:url("../../images/dist/icons/close--hover.svg") no-repeat center}
}

 @media (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1199px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){
.schedule__btns .slick-arrow{background:url("../../images/dist/icons/arrow.svg") no-repeat center}
.schedule__table__title__btn span{background:url("../../images/dist/icons/arrow__tab.svg") no-repeat center}
}

}
