// GENERAL PROJECT STYLES
body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;

  position: relative;

  min-width: 320px;
  overflow-x: hidden;

  color: $textcolor;
  background: $gray_bg;
}

.container {
  max-width: 1235px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.noscroll {
  overflow-x: hidden;
}

.no-xl {
  display: none;
}

.logo {
  display: inline-block;

  text-decoration: none;
}

.phone__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.phone__link {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;

  margin-left: 26px;

  text-decoration: none;

  color: $textcolor;
}

.phone__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 272px;
  height: 70px;
  box-sizing: border-box;

  text-decoration: none;
  transition: all 0.2s linear;
  cursor: pointer;

  background: linear-gradient(180deg, #23bbd3 0%, #239fb3 100%);
  border-radius: 10px;
  color: #ffffff;
  border: none;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    content: "";
    transform: translate(-50%, -50%);
    transition: all 0.2s linear;

    opacity: 0;
    background: linear-gradient(180deg, #23a5ba 0%, #137484 100%);
    border-radius: 10px;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &:disabled {
    cursor: auto;
    pointer-events: none;

    &::before {
      opacity: 1;
      background: #93a2bb;
    }
  }

  &--small {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    width: 170px;
    height: 43px;

    background: transparent;
    color: $textcolor;
    border: 1px solid $blue;

    &::before {
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      opacity: 0;
      background: $gradient_blue;
    }

    &:hover {
      color: #fff;
      &::before {
        opacity: 1;
      }
    }

    &:disabled {
      color: #93a2bb;
      background: transparent;
      border-color: #93a2bb;

      &::before {
        opacity: 0;
      }
    }
  }
}

.btn__text {
  position: relative;
  z-index: 3;
}

.main__content {
  position: relative;

  background: $gradient_blue;
}

.main__content__wrapper {
  position: relative;
  z-index: 3;
}

.main__grain {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  background: url("../../images/dist/grain.png") repeat;
}

.color__line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
}

.color__line__item {
  display: inline-block;

  height: 10px;

  &:nth-child(odd) {
    width: 21px;
  }

  &:nth-child(even) {
    width: 41px;
  }

  border-radius: 3px;

  &--red {
    background: #ed1846;
  }

  &--orange {
    background: #fbb306;
  }

  &--yellow {
    background: #ffcc31;
  }

  &--green {
    background: #45b97c;
  }

  &--sky {
    background: #33a3dc;
  }

  &--blue {
    background: #0066b3;
  }

  &--violet {
    background: #812990;
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;

  width: 100%;
  height: 100%;

  background: rgba($color: #000000, $alpha: 0.3);
}

@media (max-width: $tablet) {
  .no-md {
    display: none;
  }

  .md {
    display: inline-block;
  }
}

@media (max-width: $mobile) {
  .no-xs {
    display: none;
  }

  .xs {
    display: inline-block;
  }
}
