// GENERAL PROJECT STYLES
body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;

  position: relative;

  min-width: 320px;
  overflow-x: hidden;

  color: $textcolor;
  background: $gray_bg;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.noscroll {
  overflow-x: hidden;
}

.no-xl {
  display: none;
}

.logo {
  display: inline-block;

  text-decoration: none;
}

.phone__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.phone__link {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;

  margin-left: 26px;

  text-decoration: none;

  color: $textcolor;
}

.phone__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 272px;
  height: 70px;

  text-decoration: none;
  transition: all 0.2s linear;
  cursor: pointer;

  background: linear-gradient(180deg, #23bbd3 0%, #239fb3 100%);
  border-radius: 10px;
  color: #ffffff;
  border: none;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    width: 100%;
    height: 100%;

    content: "";
    transform: translate(-50%, -50%);
    transition: all 0.2s linear;

    opacity: 0;
    background: linear-gradient(180deg, #23a5ba 0%, #137484 100%);
    border-radius: 10px;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &:disabled {
    cursor: auto;
    pointer-events: none;

    &::before {
      opacity: 1;
      background: #93a2bb;
    }
  }

  &--small {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    width: 170px;
    height: 43px;

    color: $textcolor;

    &::before {
      width: calc(100% - 3px);
      height: calc(100% - 2.5px);
      opacity: 1;
      background: #fff;
    }

    &:hover {
      color: #fff;
      &::before {
        opacity: 0;
      }
    }

    &:disabled {
      color: #93a2bb;
      background: #93a2bb;

      &::before {
        background: #fff;
      }
    }
  }
}

.btn__text {
  position: relative;
  z-index: 3;
}

@media (max-width: $tablet) {
  .no-md {
    display: none;
  }

  .md {
    display: inline-block;
  }
}

@media (max-width: $mobile) {
  .no-xs {
    display: none;
  }

  .xs {
    display: inline-block;
  }
}
