.header {
  position: relative;
  z-index: 4;

  padding: 25px 0;

  background-color: #fff;

  &::before {
    position: absolute;
    bottom: -77px;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 77px;

    content: "";

    background: linear-gradient(
      180deg,
      #e7edf7 0%,
      rgba(240, 242, 244, 0) 100%
    );
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 110px;
  width: 100%;
}

@media (max-width: $tablet) {
  .header__wrapper {
    // display: none;
    position: absolute;
    top: 79px;
    left: 0;
    z-index: 7;

    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: calc(100vh - 79px);
    padding-left: 0;

    transition: all 0.2s linear;
    transform: translateX(-100%);

    background: #fff;

    &--active {
      transform: translateX(0);
    }
  }
}

@media (max-width: $mobile) {
  .header {
    &::before {
      display: none;
    }
  }
}
