.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.nav__btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;

  display: inline-block;

  padding: 0;

  cursor: pointer;
  transition: all 0.2s ease;

  color: $textcolor;
  background: none;
  border: none;

  &:hover {
    color: #768197;
  }

  &:disabled {
    cursor: auto;

    color: #93a2bb;
  }
}
