.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.nav__btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;

  display: inline-block;

  padding: 0;

  cursor: pointer;
  transition: all 0.2s ease;

  color: $textcolor;
  background: none;
  border: none;

  &:hover {
    color: #768197;
  }

  &:disabled {
    cursor: auto;

    color: #93a2bb;
  }
}
// Nav toggle
.nav-toggle {
  display: none;

  line-height: 1;
  font-size: 0;
  align-items: center;
  width: 45px;
  position: relative;
  height: 20px;
  cursor: pointer;
  z-index: 1;
  background: none;
  border: none;
  padding: 0;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle__item,
.nav-toggle__item::before,
.nav-toggle__item::after {
  position: absolute;

  display: block;

  width: 100%;
  height: 3px;
  min-height: 3px;
  max-height: 3px;
  transition-duration: 0.25s;

  background-color: $textcolor;
}

.nav-toggle__item::before {
  content: "";
  top: -15px;
}

.nav-toggle__item::after {
  content: "";
  top: 15px;
}

.nav-toggle.active .nav-toggle__item {
  // background: none;

  transform: rotate(45deg);
}

.nav-toggle.active .nav-toggle__item:before {
  top: 0;
  transform: rotate(0);
}

.nav-toggle.active .nav-toggle__item:after {
  top: 0;
  transform: rotate(90deg);
}
// Nav toggle END

@media (max-width: $tablet) {
  .nav {
    margin-bottom: 10vh;
  }

  .nav__list {
    flex-direction: column;
    gap: 7vh 0;
  }

  .nav-toggle {
    display: flex;
  }
}

@media (max-width: $mobile) {
}
