.schedule {
  position: relative;

  margin-bottom: -43px;
}

.schedule__inner {
  position: relative;
  z-index: 4;
  padding: 74px 144px 121px;

  background: #fff;
  border-radius: 10px;
}

.schedule__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;

  text-align: center;

  margin-bottom: 33px;
}

.schedule__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  margin-bottom: 55px;
}

.schedule__btn {
  font-size: 12px;
  line-height: 16px;

  width: 136px;
  height: 34px;

  border-radius: 24.2855px;

  color: #000000;

  &::before {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: none;

    opacity: 1;
    background: #eff2f8;
    border-radius: 24.2855px;
  }

  &:hover,
  &--active {
    color: #fff;

    &::before {
      opacity: 0;
    }
  }
}

.schedule__content {
  display: none;

  &--active {
    display: block;
  }
}

.schedule__ad {
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 30px;
}

.schedule__ad__left {
  font-weight: 600;

  margin-right: 89px;
  padding-left: 40px;
}

.schedule__table__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 40px;
  padding-left: 27px;

  background: #812990;
  border-radius: 4px 4px 0px 0px;
  color: #fff;
}

.schedule__table__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 39px;

  background: #eff2f8;
}

.schedule__table__line {
  display: grid;
  grid-template-columns: 7.6% 36.5% 19.4% 36.5%;
  grid-template-rows: auto auto;

  width: 100%;

  &--info {
    .schedule__table__item {
      font-size: 12px;
      line-height: 1;
    }
  }
}

.schedule__table__item {
  &--center {
    text-align: center;
  }
}

.schedule__table__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 77px;

  border-bottom: 1px solid #ededef;

  &:last-child {
    border-bottom: none;
  }

  .schedule__table__line {
    grid-template-columns: 7.6% 36.5% 19.4% 18.25% 18.25%;
  }

  .schedule__table__item {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;

    align-self: center;
  }
}

.schedule__table__inner__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.schedule__bg {
  position: absolute;

  &--5 {
    bottom: 288px;
    left: 0;
    z-index: 5;
  }

  &--6 {
    top: 175px;
    right: 0;
  }

  &--eye {
    top: 233px;
    right: 44px;
  }
}

@media (max-width: 1440px) {
  .schedule__bg {
    &--5 {
      z-index: 3;
    }
  }
}

@media (max-width: $tablet) {
  .schedule {
    margin-bottom: 44px;
  }

  .schedule__inner {
    padding: 70px 50px;
  }

  .schedule__ad {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .schedule__ad__left {
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 7px;
  }

  .schedule__table__wrapper {
    .schedule__table__item {
      font-size: 15px;
    }
  }

  .schedule__bg {
    max-width: 40%;

    &--5 {
      z-index: 3;
    }
  }
}

@media (max-width: $mobile) {
  .schedule__inner {
    padding: 30px 15px;
  }

  .schedule__title {
    font-size: 24px;
    line-height: 1.2;
  }

  .schedule__btns {
    margin-bottom: 40px;

    .slick-arrow {
      font-size: 0;
      line-height: 1;

      padding: 0;
      width: 14px !important;
      min-width: 14px;
      height: 8px;

      border: none;
      background: none;
      color: transparent;
      background: url("../../images/dist/icons/arrow.svg") no-repeat center;
    }
    .slick-prev {
      transform: rotate(-90deg);
    }

    .slick-arrow.slick-next {
      transform: rotate(90deg);
    }
  }

  .schedule__table {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &--active {
      .schedule__table__title {
        border-radius: 4px 4px 0 0;
      }

      .schedule__table__title__btn {
        transform: rotate(0);
      }

      .schedule__table__body {
        display: block;
      }
    }
  }

  .schedule__table__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;

    border-radius: 4px;
  }

  .schedule__table__title__btn {
    line-height: 1;

    padding: 0;

    transition: all 0.2s linear;
    transform: rotate(-180deg);

    background: none;
    border: none;

    span {
      display: inline-block;

      width: 14px;
      height: 8px;

      background: url("../../images/dist/icons/arrow__tab.svg") no-repeat center;
    }
  }

  .schedule__table__info {
    display: none;
  }

  .schedule__table__wrapper {
    height: auto;
    padding: 20px 10px;
  }

  .schedule__table__body {
    display: none;

    border: 1px solid #ededef;
    border-top: none;
    border-radius: 0 0 4px 4px;

    .schedule__table__line {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px 0;
    }
  }

  .schedule__table__item {
    font-size: 14px;
    line-height: 1.2;

    text-align: center;

    &:first-child {
      display: none;
    }

    &--title {
      width: 100%;
    }

    &--time {
      font-weight: 400 !important;

      width: 50%;
    }
  }

  .schedule__table__item__title {
    font-weight: 600;

    display: block;
  }

  .schedule__table__btn {
    height: 40px;
  }
}
