.social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social__item {
  display: inline-block;

  margin-right: 14px;

  text-decoration: none;
  transition: all 0.5s linear;

  &:hover {
    transform: translateY(-5px);
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  width: 34px;
  height: 34px;
  min-width: 34px;
  min-height: 34px;
}

@media (max-width: $tablet) {
}

@media (max-width: $mobile) {
}
